.banner{
    height: 350px;
    width:1000px;
    margin-left: 200px;
    margin-top: -330px;
}

.profile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 215px;
    margin-top: -170px;
}
body {
    background-color: rgb(202, 196, 196);
  }